{% extends 'baselogin.html' %}
{% block title %} Contact details{% endblock title %}
{% block form %}


<div class="row">
<div class="col-md-4"></div>

<div class="col-md-4">



<main>
    <div class="container">
        <h1>Contact Our Group</h1>
        <br>
        <p>Mail ID: vishaltrambadia3@gmail.com <br>
        Contact No: 9347343885</p>
        <p>Mail ID: shakuntalads123@gmail.com <br>
            Contact No: 8951882195</p>
        <p>Mail ID: smithamalipatil123@gmail.com <br>
            Contact No: 7019486958</p>
    </div>
</main> 

</div>
{% endblock form %}

